extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Armando Cabrera

        
        p Full Stack JavaScript Developer


        .about-bio

          p Coding is a passion of mine. Sitting down and learning new technoliges even if its on the technology's documentation page or learning through a course on resourceful platforms just as udemy, for example, is exhilarating. Putting this new found knowledge into work has shown me that with time and effort, anything is possible. The sky is the ceiling, my friend; there is no limit to where you can go.


      .skills-contact-box.box
        h6 Skills

       
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 646-413-5369
          li armanxzmc@hotmail.com

       
        a.btn-link(href='https://www.linkedin.com/in/armando-cabrera-273337191/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/Mandoc824', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back