extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p These are a few of some of my projects ive been working on in my journey to become a full stack web developer. I hope these projets showcase my ability to learn and adapt to new concepts and frameworks as my learning odyssey continues. as i grow more i will include more projects not just using javascript but python, c# and/or java as well. Be on the look out for those.




  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[2]}`, alt=`${project.project_name}`)
            h5= project.project_name

