<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/me_icon.jpeg', alt='')
        .dev-intro-box
          h5 Armando Cabrera
          p Hi there, my name is Armando Cabrera and im a 20 year old self-taught program developer and a lifelong learner. Ive been coding for a while now in hopes to score a job in the tech industry. I know its not going to be easy, its a grind in the end. I hope these projects showcase my ability to learn new frameworks and libraries and anything programming related. I will Continue to update this Portfolio as i grow more in the field.
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Armando Cabrera

      block content

  script(src='/static/js/script.js')